@font-face {
  font-family: 'Ostrich';
  src: url('../fonts/ostrich-sans-black.eot'),
      url('../fonts/ostrich-sans-black.ttf') format('truetype'),
      url('../fonts/ostrich-sans-black.woff') format('woff'),
      url('fonts/ostrich-sans-black.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}